/* body{
	background-image: url(../images/background.png);
	position: relative;
	overflow: hidden;
	width: 100vw;
} */

/* a{
	color: #000;
} */

 #profile p{
	font-family: dnp-shuei-gothic-gin-std, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #000;
} 

#profile h2{
	font-family: dnp-shuei-gothic-gin-std, sans-serif;
	font-weight: 400;
	font-style: normal;	
	color: black;
}

#profile{
	background-image: url(../images/background.png);
}


#profile #face{
	float: left;
	clear: both;
	margin: 33px 20px 65px 23px;
}

#profile #face p{
	text-align: center;
	font-size: 1.2em;
	line-height: 1.4em;
	margin-top: 5px;
}

#profile #skill{
	width: 1150px;
	height: 360px;
	background-image: url(../images/paper_top.png);
	background-size: cover;
	background-repeat: no-repeat;
	float: left;
	padding: 90px 0px 0px 80px;
	line-height: 1.7em;
	margin: -16px;
}
/* 
#profile #skill #maskingrigth_bg{
	background-image: url(../images/maskingright_bg.png);
	background-repeat: no-repeat;
	width: 160px;
	height: 115px;
	position: absolute;
	right: 0%;
	top: 13%;
}

#profile #skill #maskingleft_bg{
	background-image: url(../images/maskingleft_bg.png);
	background-repeat: no-repeat;
	width: 166px;
	height: 119px;
	position: absolute;
	left: 17%;
	top: 10%;
} */

#profile #skill h2{
	font-size: 1.3em;
	margin-bottom: 5px;
}

#profile #skill p{
	font-size: 1em;
	margin-bottom: 10px;

}


#profile #skill ul{
	display: flex;
	justify-content: space-between;
	width: 27%;
	margin-bottom: 10px;
}

#profile #summary{
	clear: both;
	width: 1366px;
	height: 200px;
	margin: 0px auto;
	background-image: url(../images/paper_bottom.png);
	background-repeat: no-repeat;
	padding: 80px 0px 0 50px;
}

#profile #summary p{
	font-size: 1em;
	line-height: 1.7em;
}
/* 
#profile #summary #maskingbottomrigth_bg{
	background-image: url(../images/maskingright_bg.png);
	background-repeat: no-repeat;
	width: 160px;
	height: 115px;
	position: absolute;
	right: 0%;
	bottom: 15%;
}

#profile #summary #maskingbottomleft_bg{
	background-image: url(../images/maskingleft_bg.png);
	background-repeat: no-repeat;
	width: 166px;
	height: 119px;
	position: absolute;
	left: -2%;
	bottom: 15%;
} */
