footer{
	width:100vw;
	background-color: #165330;
	color: #fff;
	font-size: 14px;
	font-family: 'Noto Serif JP', serif;
	float: left;
	margin-top: 90px;
}

footer p {
	font-size: 1em;
}

footer h1{
	margin-bottom: 25px;
}

footer li{
	list-style-type: none;
	list-style-position: outside;
}

#footer_left{
	float: left;
	margin: 60px 100px 50px 100px;
	letter-spacing: 0.2em;
}

#footer_right{
	float: left;
	margin: 60px 0 50px 0;
}

.reservation{
	margin-bottom: 30px;
}

#internet{
	float: left;
	margin-right: 80px;
}

#internet p{
	margin-bottom: 5px;
}

footer button{
	font-family: 'Noto Serif JP', serif;
	background-color: rgba(254 , 254 , 254 , 0.1);
	border: solid rgba(254 , 254 , 254 , 0.2); 
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
   	font-size: 0.9em;
}

footer button li{
	background: rgba(254 , 254 , 254 , 0.2);
}

footer button.hitosara{
	padding: 15px 142px 15px 13px;
    margin-bottom: 8px;
}

footer button.ikyu{
	padding: 15px 138px 15px 13px;
    margin-bottom: 15px;
}

footer #tel p{
	margin-bottom: 5px;

}
footer .reservation_tel{
	padding: 15px 60px 15px 13px;
    margin-bottom: 8px;
	letter-spacing: 0.1em;
}

footer .contact_tel{
	padding: 15px 42px 15px 13px;
    margin-bottom: 15px;
	letter-spacing: 0.1em;
}


footer #tel{
	float: left;
}

footer .copyright{
	width: 100%;
	background-color: #fff;
	color: #000;
	text-align: center;
	font-size: 0.7em;
	padding: 25px 0;
	clear: both;
}