*{
	margin: 0 ;
	padding: 0 ;
	overflow-x: hidden;
}

body{
	width: 100vw;
}

footer{
	font-size: 12px;
}


h2 img{
	width:100vw;
	height: 100vh;
	margin-bottom: 230px;
}


#all_contents p{
	font-family: 'Noto Serif JP', serif;
	color: #fff;
	font-size: 14px;
	width: 470px;
	line-height: 1.6em;
    letter-spacing: 0.1em;
}

#all_contents span{
	font-size: 1.2em;
	font-family: 'Noto Serif JP', serif;
	color: #fff;
	width: 470px;
	line-height: 1.6em;
    letter-spacing: 0.1em;

}

/*contents1*/

#contents1{
	float: left;
	position: relative;
	width: 100vw;
	margin-bottom: 82px;
}

#contents1 img{
	float: left;
	position: absolute;
	left:  0px;
	width: 750px;
}

#contents1_txt{
	float: right;
	margin-top: 60px;
	background-color: #165330;
	padding: 156px 47px 200px 515px;
	text-align: right;
}

/*contents2*/

#contents2{
	clear: both;
	float: left;
	position: relative;
	width: 100vw;
	margin-bottom: 82px;
}

#contents2 img{
	float: right;
	position: absolute;
	right: 0px;
	width: 750px;
}

#contents2_txt{
	float: left;
	margin-top: 60px;
	background-color: #165330;
	padding: 156px 515px 220px 35px;
	text-align: left;
}

/*contents3*/

#contents3{
	clear: both;
	float: left;
	position: relative;
	width: 100vw;
	margin-bottom: 82px;
}

#contents3 img{
	float: left;
	position: absolute;
	left:  0px;
	width: 750px;
}

#contents3_txt{
	float: right;
	margin-top: 60px;
	background-color: #165330;
	padding: 156px 47px 200px 515px;
	text-align: right;
}

/*contents4*/

#contents4{
	clear: both;
	float: left;
	position: relative;
	width: 100vw;
	margin-bottom: 82px;
}

#contents4 img{
	float: right;
	position: absolute;
	right: 0px;
	width: 750px;
}

#contents4_txt{
	float: left;
	margin-top: 60px;
	background-color: #165330;
	padding: 156px 445px 251px 35px;
	text-align: left;
}

#hamburger{
	display: none;
}



/*mobile*/

@media screen and (max-width: 559px) {



	#contents1,
	#contents2,
	#contents3,
	#contents4,
	footer{
		width: 95%;
		margin: 0 auto;
	}

	#contents1_txt,
	#contents2_txt,
	#contents3_txt,
	#contents4_txt {
		margin: 0 auto;
		padding: 70% 0 10% 0;
		float: none;
		text-align: left;
		margin-bottom: 10%;

	}

	#footer_right,
	header{
		display: none;
	}

	#all_contents h2{
		z-index: 1;
	}

	#all_contents p{
		width: 100%;
	}





}