
*{
	margin: 0 ;
	padding: 0 ;
	overflow-x: hidden;

}

h2 img{
	width:100vw;
	height: 100vh;
	margin-bottom: 55px;
}

table{
	margin: 0 auto 48px;
	width: 858px;
	border-collapse: collapse;
	font-family: 'Noto Serif JP', serif;
	font-size: 14px;
}

th{
	width: 200px;
	text-align: left;
	font-weight: normal;
}

th , td{
	border-bottom: dotted #b5b5b5 1px;
	padding: 20px 0 ;
}

iframe{
	width: 100vw;
	height: 500px;
}


#hamburger{
	display: none;
}

/*mobile*/

@media screen and (max-width: 559px) {

	#footer_right,
	header{
		display: none;
	}

	#contents,
	footer{
		margin: 0px;
		width: 97%;
		margin: 0 auto;
	}

	#contents table{
		width: 97%;
	}

	#footer_right,
	header{
		display: none;
	}

	 h2{
		z-index: 1;
	}





}















